#headerTag{
    color: blue; 
    text-align:center;
    font-size: large;
}
#containerForCentering{
    text-align:center;
}
.info{
    color: darkblue;
    text-align:center;
    font-size:20px;
    width: 320px;    
    padding: 3px;
    border: cyan 5px;
    margin: 0;
}
a{
    color:blue;
}
#rickroll:hover{
    color: gold;
}
