#headerTag{
    color: blue; 
    text-align:center;
    font-size: large;
}

.info{
    color: darkblue;
    text-align:center;
    font-size:20px;
}
#rickroll:hover{
    color: gold;
}
#rickroll{
    text-align: center;
}